{% extends "layout.html" %}

{% block title %}
View {{ name }}
{% endblock %}

{% block main %}
<div class="mb-4">
    <h5>{{ name }}</h5>
    <h6 class="text-muted">Playtime: {{ time | play_time }}</h6>
</div>
<table class="table table-hover table-light table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Artists</th>
            <th scope="col">Duration</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        {% for song in playlist %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ song.name }}</th>
            <td>{{ song.artists }}</td>
            <td>{{ song.duration | track_time }}</td>
            <td>
                {% if song.url %}
                <a class="btn btn-custom" href="{{ song.url }}" target="_blank">Listen</a>
                {% else %}
                <a class="btn btn-outline-danger disabled">Listen</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
